body {
    background-color: #74b9ff;
}

.container {
    margin-top: 20px;
}

.web__form{
    max-width: 600px;
    margin: 60px auto;
    -webkit-box-shadow: 1px 3px 23px -8px #000000; 
    box-shadow: 1px 3px 23px -8px #000000;
    padding: 20px;
}

.web__form button {
    margin-top: 15px;
}

.welcome__text{
    text-align: center;
}